DesktopClient/Connected Services/AdminService/BusinessRules.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessRules" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessRules" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rule" nillable="true" type="tns:Rule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRule" nillable="true" type="tns:ArrayOfRule" />
  <xs:complexType name="Rule">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DayFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DayTill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeTill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Triggers" nillable="true" type="tns:ArrayOfTrigger" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rule" nillable="true" type="tns:Rule" />
  <xs:complexType name="ArrayOfTrigger">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trigger" nillable="true" type="tns:Trigger" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrigger" nillable="true" type="tns:ArrayOfTrigger" />
  <xs:complexType name="Trigger">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attribute" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comparator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Threshold" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trigger" nillable="true" type="tns:Trigger" />
</xs:schema>