DesktopClient/Connected Services/AdminService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BusinessRules" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BusinessRules.DataCollector" />
  <xs:element name="GetBusinessRules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessRules" minOccurs="0" name="GetBusinessRulesResult" nillable="true" type="q1:ArrayOfRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExposedData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExposedDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessRules.DataCollector" minOccurs="0" name="GetExposedDataResult" nillable="true" type="q2:ArrayOfExposedData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBusinessRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessRules" minOccurs="0" name="rule" nillable="true" type="q3:Rule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBusinessRuleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBusinessRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessRules" minOccurs="0" name="rule" nillable="true" type="q4:Rule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBusinessRuleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>