DesktopClient/Connected Services/TestService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITestService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Test" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestService_GetName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetName" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNameResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetOneDay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneDay" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetOneDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneDayResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetThreeDays_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThreeDays" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetThreeDays_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThreeDaysResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_SetName_InputMessage">
    <wsdl:part name="parameters" element="tns:SetName" />
  </wsdl:message>
  <wsdl:message name="ITestService_SetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNameResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_SetOneDay_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOneDay" />
  </wsdl:message>
  <wsdl:message name="ITestService_SetOneDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOneDayResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_SetThreeDays_InputMessage">
    <wsdl:part name="parameters" element="tns:SetThreeDays" />
  </wsdl:message>
  <wsdl:message name="ITestService_SetThreeDays_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetThreeDaysResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_Trigger_InputMessage">
    <wsdl:part name="parameters" element="tns:Trigger" />
  </wsdl:message>
  <wsdl:message name="ITestService_Trigger_OutputMessage">
    <wsdl:part name="parameters" element="tns:TriggerResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestService">
    <wsdl:operation name="GetName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/GetName" message="tns:ITestService_GetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/GetNameResponse" message="tns:ITestService_GetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneDay">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/GetOneDay" message="tns:ITestService_GetOneDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/GetOneDayResponse" message="tns:ITestService_GetOneDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetThreeDays">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/GetThreeDays" message="tns:ITestService_GetThreeDays_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/GetThreeDaysResponse" message="tns:ITestService_GetThreeDays_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/SetName" message="tns:ITestService_SetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/SetNameResponse" message="tns:ITestService_SetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOneDay">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/SetOneDay" message="tns:ITestService_SetOneDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/SetOneDayResponse" message="tns:ITestService_SetOneDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetThreeDays">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/SetThreeDays" message="tns:ITestService_SetThreeDays_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/SetThreeDaysResponse" message="tns:ITestService_SetThreeDays_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Trigger">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/Trigger" message="tns:ITestService_Trigger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/TriggerResponse" message="tns:ITestService_Trigger_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITestService" type="tns:ITestService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITestService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetName">
      <soap12:operation soapAction="http://tempuri.org/ITestService/GetName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneDay">
      <soap12:operation soapAction="http://tempuri.org/ITestService/GetOneDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreeDays">
      <soap12:operation soapAction="http://tempuri.org/ITestService/GetThreeDays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetName">
      <soap12:operation soapAction="http://tempuri.org/ITestService/SetName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOneDay">
      <soap12:operation soapAction="http://tempuri.org/ITestService/SetOneDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetThreeDays">
      <soap12:operation soapAction="http://tempuri.org/ITestService/SetThreeDays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Trigger">
      <soap12:operation soapAction="http://tempuri.org/ITestService/Trigger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestService">
    <wsdl:port name="NetTcpBinding_ITestService" binding="tns:NetTcpBinding_ITestService">
      <soap12:address location="net.tcp://localhost:9090/TestService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9090/TestService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>