DesktopClient/Connected Services/TestService/Test.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Test" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Test" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Temperature" type="xs:double" />
      <xs:element minOccurs="0" name="Wind" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestData" nillable="true" type="tns:TestData" />
  <xs:complexType name="ArrayOfTestData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestData" nillable="true" type="tns:TestData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestData" nillable="true" type="tns:ArrayOfTestData" />
</xs:schema>