ServerClient/Connected Services/TestService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Test" />
  <xs:element name="GetName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Test" minOccurs="0" name="GetOneDayResult" nillable="true" type="q1:TestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreeDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreeDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Test" minOccurs="0" name="GetThreeDaysResult" nillable="true" type="q2:ArrayOfTestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOneDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Test" minOccurs="0" name="oneDay" nillable="true" type="q3:TestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOneDayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetThreeDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceName" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Test" minOccurs="0" name="threeDays" nillable="true" type="q4:ArrayOfTestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetThreeDaysResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Trigger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="printWhat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>