ServerClient/Connected Services/AdminService/BusinessRules.DataCollector.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessRules.DataCollector" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessRules.DataCollector" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfExposedData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExposedData" nillable="true" type="tns:ExposedData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExposedData" nillable="true" type="tns:ArrayOfExposedData" />
  <xs:complexType name="ExposedData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Actions" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Attributes" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExposedData" nillable="true" type="tns:ExposedData" />
</xs:schema>