ServerClient/Connected Services/AdminService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAdminService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BusinessRules" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BusinessRules.DataCollector" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_GetBusinessRules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBusinessRules" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetBusinessRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusinessRulesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetExposedData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExposedData" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetExposedData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExposedDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddBusinessRule_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBusinessRule" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddBusinessRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBusinessRuleResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RemoveBusinessRule_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBusinessRule" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RemoveBusinessRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBusinessRuleResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="GetBusinessRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetBusinessRules" message="tns:IAdminService_GetBusinessRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetBusinessRulesResponse" message="tns:IAdminService_GetBusinessRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExposedData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetExposedData" message="tns:IAdminService_GetExposedData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetExposedDataResponse" message="tns:IAdminService_GetExposedData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBusinessRule">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddBusinessRule" message="tns:IAdminService_AddBusinessRule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddBusinessRuleResponse" message="tns:IAdminService_AddBusinessRule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveBusinessRule">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/RemoveBusinessRule" message="tns:IAdminService_RemoveBusinessRule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/RemoveBusinessRuleResponse" message="tns:IAdminService_RemoveBusinessRule_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAdminService" type="tns:IAdminService">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdminService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetBusinessRules">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetBusinessRules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExposedData">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetExposedData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBusinessRule">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/AddBusinessRule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveBusinessRule">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/RemoveBusinessRule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="NetTcpBinding_IAdminService" binding="tns:NetTcpBinding_IAdminService">
      <soap12:address location="net.tcp://localhost:9094/AdminService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9094/AdminService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>