DesktopClient/Connected Services/WeatherService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeatherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWeatherService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeatherService_GetName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetName" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNameResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_CurrentWeather_InputMessage">
    <wsdl:part name="parameters" element="tns:CurrentWeather" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_CurrentWeather_OutputMessage">
    <wsdl:part name="parameters" element="tns:CurrentWeatherResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_ForecastedWeather_InputMessage">
    <wsdl:part name="parameters" element="tns:ForecastedWeather" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_ForecastedWeather_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForecastedWeatherResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetWind_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWind" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetWind_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWindResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_QueryWeather_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryWeather" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_QueryWeather_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryWeatherResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeatherService">
    <wsdl:operation name="GetName">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/GetName" message="tns:IWeatherService_GetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/GetNameResponse" message="tns:IWeatherService_GetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CurrentWeather">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/CurrentWeather" message="tns:IWeatherService_CurrentWeather_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/CurrentWeatherResponse" message="tns:IWeatherService_CurrentWeather_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForecastedWeather">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/ForecastedWeather" message="tns:IWeatherService_ForecastedWeather_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/ForecastedWeatherResponse" message="tns:IWeatherService_ForecastedWeather_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWind">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/GetWind" message="tns:IWeatherService_GetWind_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/GetWindResponse" message="tns:IWeatherService_GetWind_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryWeather">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/QueryWeather" message="tns:IWeatherService_QueryWeather_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/QueryWeatherResponse" message="tns:IWeatherService_QueryWeather_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IWeatherService" type="tns:IWeatherService">
    <wsp:PolicyReference URI="#NetTcpBinding_IWeatherService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetName">
      <soap12:operation soapAction="http://tempuri.org/IWeatherService/GetName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrentWeather">
      <soap12:operation soapAction="http://tempuri.org/IWeatherService/CurrentWeather" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForecastedWeather">
      <soap12:operation soapAction="http://tempuri.org/IWeatherService/ForecastedWeather" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWind">
      <soap12:operation soapAction="http://tempuri.org/IWeatherService/GetWind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryWeather">
      <soap12:operation soapAction="http://tempuri.org/IWeatherService/QueryWeather" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherService">
    <wsdl:port name="NetTcpBinding_IWeatherService" binding="tns:NetTcpBinding_IWeatherService">
      <soap12:address location="net.tcp://wi-gate.technikum-wien.at:61237/WeatherService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://wi-gate.technikum-wien.at:61237/WeatherService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>