DesktopClient/Connected Services/GenericInfoService/GenericInfo.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GenericInfo.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GenericInfo.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GenericInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericInfo" nillable="true" type="tns:GenericInfo" />
</xs:schema>